*{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background: url(../images/pattern2.png) repeat;
    width: 100%;
}
.clearfix{
    content: "";
    display: inline-block;
    clear: both;
}
.wrapper{
    /*background-image:url('images/pattern2.png');*/
    width:100%;
    height: 1150px;
    position: relative;
}
.wrapper .section{
    width: 45px;
    height: 200px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 200px;
}
.wrapper .section .section-car{
    padding-top: 2px;
}
.wrapper .section ul li{
    margin: 5px 8px;
    display: block;
    width: 25px;
    height: 25px;
    background-color: #AFD400;
    border: 1px solid #000000;
    cursor:pointer
}
.wrapper .header{
    width: 230px;
    height: 450px;
    /*border: 1px solid #000080;*/
    position: relative;
    top: 56px;
    left: 250px;
}
.wrapper .header .header-img{
    width: 241px;
    height: 288px;
    /*border: 1px solid #ff6700;*/
    margin-bottom: 5px;
}
.wrapper .header .header-img img{
    width: 100%;
    height: 100%;

}
.wrapper .header .header-img .header-name{
    position: absolute;
    top: 228px;
    background: #CD5353;
    width: 241px;
    height: 60px;
}
.wrapper .header .header-img h1,h2{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.wrapper .header .header-list{
    cursor:pointer
}
.wrapper .header .header-list li{
    width: 240px;
    height: 42px;
    background-color: #fff;
    margin-bottom: 5px;
    /*border-right: 5px solid #e3e2e2;*/
    border-radius: 4px;

}
.wrapper .header .header-list li a{
    float: right;
    color: #999;
    padding: 11px 10px 10px 0px;
}
.wrapper .header .header-list li img{
    background-position: 14px 7px;
    padding: 11px 0px 10px 10px;

}
.wrapper .container{
    width: 40%;
    height: 100%;
    border: 2px solid #999;
    position: absolute;
    top: 56px;
    left: 500px;
    background-color: #fff;
    border-radius: 4px;
}
.wrapper .container .container-message{
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px 25px 35px 25px;
    width: 100%;
}
.wrapper .container .container-message .container-message-introduction h1{
    font-family: "Signika";
    font-weight: 400;
    font-size: 18px;
    color: #CD5353;
    margin: 0 0 10px 0;

}
.wrapper .container .container-message .container-message-introduction p{
    font-size: 12px;
    vertical-align: inherit;
    color: #999;
}
.wrapper .container .container-message .container-message-introduction ul{
    float: left;
    margin: 10px 44px 0 0;
}
.wrapper .container .container-message .container-message-introduction ul li{
    /*border: 1px solid #000;*/
    border-radius: 5px;
    color: #666666;
    font-size: 11px;
    border-left: 3px solid #cccccc;
    background: #efefef;
    margin-bottom: 30px;
    padding: 10px 20px 10px 10px;
}
.wrapper .container .container-message .container-message-introduction ul li span{
    font-weight: bold;
}
.container-skill{
    margin-top: 40px;
}
.container-skill div{
    float: left;
    margin: -40px 60px 0 30px;

}
.container-skill div h1{
    font-family: "Signika";
    font-weight: 400;
    font-size: 18px;
    color: #CD5353;
    margin: 0 0 10px 0;
}
.container-skill div li{
    background-color: #c0a16b;
    border-radius: 6px;
    width: 150px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #000000;
}
.container-exp{
    width: 400px;
    margin-left: 30px;
}
.container-exp h1{
    font-family: "Signika";
    font-weight: 400;
    font-size: 18px;
    color: #CD5353;
    margin: 0 0 4px 0;
}
.container-exp h4{
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
.container-exp h6{
    font-size: 11px;
    color: #333;
    font-weight: bold;
    font-style: italic;
}
.container-exp p{
    font-size: 12px;
    vertical-align: inherit;
    color: #999;
}
.btn-lg{
    position: absolute;
    bottom: -40px;
    left: 900px;
    background-color: #000;
}